# Игнорировать конфигурационный файл config.py
config.py

# Игнорировать кэшированные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать временные файлы операционных систем
.DS_Store  # Для macOS
Thumbs.db  # Для Windows

# Игнорировать виртуальные окружения (если используются)
env/
venv/
.venv/

# Игнорировать файлы журналов
*.log
